<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>


        <!-- main content-->
     
<main class="container">
<!--
    login page file
	Mohamed Shaheen Kaipally
	Student #: 301158774
    Date: 28-feb-2021
-->


<div class="jumbotron">
  
    <h1>Login</h1>
    <!-- login form -->
    <form class="form"  method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>